body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.top {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.radio-input {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid #EBBAB9;
    transform: scale(1.25);
}

input[type=radio]:hover + img {
    cursor: pointer;
}

img {
    padding: 10px;
}

button {
    width: 100px;
    padding: 10px;
    margin: 20px;
}

.button-section {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.result-section{
    display: none; 
}

.list:hover {
    transform: scale(1.5);
}

#result-holder {
    color: #EBBAB9; 
    font-weight:900;
    background-color: lightslategray;
    width: 200px;
    text-align: center;
    font-size: larger;
}

footer {
    font-size: smaller;
}
