body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid #EBBAB9;
    transform: scale(1.25);
}

input[type=radio]:hover {
    cursor: pointer;
}

img {
    padding: 10px;
}

button {
    width: 100px;
    padding: 10px;
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

.result-section{
    display: none; 
}

.list:hover {
    transform: scale(1.5);
}

#result-holder {
    color: #EBBAB9; 
    font-weight: bold;
}

footer {
    font-size: smaller;
}